<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>DemoEE</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>demoservlet</display-name>
    <servlet-name>demoservlet</servlet-name>
    <servlet-class>com.csci548.demo.demoservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>demoservlet</servlet-name>
    <url-pattern>/demoservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>showitems</display-name>
    <servlet-name>showitems</servlet-name>
    <servlet-class>com.csci548.demo.showitems</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showitems</servlet-name>
    <url-pattern>/showitems</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>showArtist</display-name>
    <servlet-name>showArtist</servlet-name>
    <servlet-class>com.csci548.demo.showArtist</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showArtist</servlet-name>
    <url-pattern>/showArtist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>showitemsartist</display-name>
    <servlet-name>showitemsartist</servlet-name>
    <servlet-class>com.csci548.demo.showitemsartist</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showitemsartist</servlet-name>
    <url-pattern>/showitemsartist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>showTechnique</display-name>
    <servlet-name>showTechnique</servlet-name>
    <servlet-class>com.csci548.demo.showTechnique</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showTechnique</servlet-name>
    <url-pattern>/showTechnique</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>showitemstechnique</display-name>
    <servlet-name>showitemstechnique</servlet-name>
    <servlet-class>com.csci548.demo.showitemstechnique</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showitemstechnique</servlet-name>
    <url-pattern>/showitemstechnique</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>showDetails</display-name>
    <servlet-name>showDetails</servlet-name>
    <servlet-class>com.csci548.demo.showDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showDetails</servlet-name>
    <url-pattern>/showDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>showReport</display-name>
    <servlet-name>showReport</servlet-name>
    <servlet-class>com.csci548.demo.showReport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showReport</servlet-name>
    <url-pattern>/showReport</url-pattern>
  </servlet-mapping>
</web-app>